<<<<<<< HEAD
#endDate {
    margin-bottom: 10px;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid #000;
    padding: 8px;
}
=======
#endDate {
    margin-bottom: 10px;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid #000;
    padding: 8px;
}
>>>>>>> ba8d0bac4495b06be1978717947e8aa7941cb3f5
